$color-primary: white;
$color-secondary: black;
$color-accent: #DA2422;
$color-font-dark: black;
$color-font-light: white;
$color-background: #2B2B2B;
$color-outer-gears: lighten($color-background, 55%);
$color-inner-gears: lighten($color-background, 15%);
$color-shadow: darken($color-background, 5%);