$color-primary: white;
$color-secondary: black;
$color-accent: #DA2422;
$color-font-dark: black;
$color-font-light: white;
$color-background: #2B2B2B;
$color-gears: white;
$color-shadow: $color-font-dark;