@import 'colors';
@import 'mixins';
@import 'animations';
@import 'sizes';
@import 'bkgrounds';
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  @include fonts;
  @include background-tile;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include background-gradient;
}

@include logo;
.form {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-bottom: 10px;
  color: $color-font-light;
}

.form__input-wrapper {
  display: flex;
  height: 35px;
  @include main-shadow;
  z-index: 10;
}

.form__input {
  border: none;
  flex-basis: 65%;
  font-size: 1.2em;
  color: $color-font-dark;
  padding-left: 10px;
  letter-spacing: 2px;
  &:active {
    outline-color: $color-accent;
  }
  &:invalid {
    border-color: #900;
    background-color: #FDD;
  }
  &:focus:invalid {
    outline: none;
  }
}

.form__error {
  color: $color-accent;
}

.form__button {
  flex-basis: 35%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 400;
  color: $color-font-light;
  background-color: $color-accent;
}

.footer {
  position: absolute;
  top: 90%;
  left: 5%;
  z-index: 10;
}

.footer__button {
  @include red-border-button;
}