@import 'colors';
@import 'mixins';

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  @include fonts;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__title {
  font-size: 2em;
  font-weight: 400;
}

.form-wrapper {
  width: 100vw;
  display: flex;
}

.form {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-bottom: 10px;
}

.form__input-wrapper {
  display: flex;
  border: 1px solid $color-secondary;
  height: 35px;
  padding: 5px;
  @include main-shadow;
}

.form__input {
  border: none;
  border-right: 1px solid $color-secondary;
  flex-basis: 65%;
  font-size: 1.2em;
  letter-spacing: 2px;

  &:active {
    outline-color: $color-primary;
  }

  &:focus {
    outline-color: $color-primary;
  }
}

.form__button {
  flex-basis: 35%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 5px;
  color: $color-font-dark;
  background-color: $color-background;
}

.footer {
  margin-top: 150px;
}

.footer__button {
  transform: rotate(-30deg);
  cursor: pointer;
  border: none;
  font-size: 1em;
  background: $color-background;
  color: $color-font-dark;
}
