@import './colors';
@import './animations';
@mixin main-shadow {
  box-shadow: 10px 10px 10px 0px $color-shadow;
}

@mixin fonts {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin logo {
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }
  .logo__title {
    margin: 0;
    padding-right: 20px;
    font-size: 2em;
    font-weight: 400;
    color: $color-font-light;
  }
  .logo__svg {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
  }
  .logo__gear-outer {
    fill: $color-outer-gears;
  }
  .logo__gear-inner {
    fill: $color-inner-gears;
  }
  .logo__gear-left {
    @include animateGear(turnLeft);
  }
  .logo__gear-right {
    @include animateGear(turnRight);
    position: absolute;
    left: 36px;
    top: -7px;
  }
  @include gearKeyframes;
  .form-wrapper {
    width: 100%;
    max-width: $inputMaxWidth;
    display: flex;
  }
}

@mixin background-tile {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 50 50' fill='none'%3e%3ccircle cx='25.5' cy='25.5' r='7.5' fill='black' fill-opacity='.75'/%3e%3c/svg%3e");
}

@mixin background-gradient {
  background: radial-gradient(circle, rgba(83, 83, 83, .35) 0%, rgba(43, 43, 43, .1) 100%);
}

@mixin red-border-button {
  //transform: rotate(-30deg);
  cursor: pointer;
  border: .5px solid $color-accent;
  padding: 10px 15px;
  font-size: 1em;
  background: none;
  color: $color-font-light;
}