@import 'colors';
@import 'mixins';
@import 'animations';
@import 'sizes';
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include fonts;
}

.main {
  max-width: 960px;
  margin: auto;
  height: 100%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
}

.main-data-class {
  grid-column: 1 / 2;
}

.sub-data-class {
  justify-self: end;
  grid-column: 2 / -1;
}

.banner {
  background-color: black;
  color: white;
  padding: 5px;
}

.hide {
  display: none;
}

.build-content-map {
  height: 400px;
  background-color: $color-secondary;
}