@import 'colors';

body {
  height: 100vh;
  width: 100vw;
  background-color: $bgColor;
}

.banner {
  background-color: black;
  color: white;
  padding: 5px;
}

.hide {
  display: none;
}

.build-content-map {
  background: blue;
  height: 400px;
  width: 100%;
}
