@import 'colors';
@import 'mixins';
@import 'animations';
@import 'sizes';
@import 'bkgrounds';
body {
  margin: 0;
  @include fonts;
  line-height: 1.5;
  font-weight: 300;
  color: $color-font-light;
  box-sizing: content-box;
  @include background-tile;
}

p {
  margin: 0.5em 0;
  font-size: .9em;
  @media only screen and (min-width: $smallScreenWidth) {
    font-size: 1em;
  }
}

section {
  width: 100%;
}

.main {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px 10px;
  max-width: $smallScreenWidth;
  margin: auto;
  @media only screen and (min-width: $smallScreenWidth) {
    max-width: $maxScreenWidth;
  }
  @media only screen and (min-width: $largeScreenWidth) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@include logo;
.logo,
.vin,
.footer {
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 1 / -1;
    margin: 25px 0;
  }
}

// For large screens
.vehicle,
.powertrain,
.body,
.safety-info {
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 1 / 2;
  }
}

.additional-info {
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 2 / -1;
    grid-row: 6 / 7;
  }
}

// For large screens
.build-location {
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 2 / -1;
    grid-row: 3 / 6;
  }
}

.vin__label {
  text-align: center;
  letter-spacing: 2.5px;
  font-weight: 400;
  margin: 10px 0;
}

// The section titles
.title {
  color: white;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
  padding-left: 10px;
}

.shelve {
  height: 10px;
  background: $color-accent;
  @include main-shadow;
}

.main-data-class {
  grid-column: 1 / 2;
  padding-left: 10px;
}

.sub-data-class {
  padding: 0 10px;
  justify-self: end;
  grid-column: 2 / -1;
}

.hide {
  //display: none;
}

.content-wrapper {
  padding: 15px 0;
}

.vehicle-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
}

.powertrain-content .sub-data-class {
  padding-right: 0px;
  padding-left: 10px;
  justify-self: start;
  grid-column: 1 / -1;
}

.build-data-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  @media only screen and (min-width: $smallScreenWidth) {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.build-data-grid .content-wrapper {
  @media only screen and (min-width: $smallScreenWidth) {
    padding: 0;
  }
}

.build-content-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  @media only screen and (min-width: $smallScreenWidth) {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width: $largeScreenWidth) {
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  } //*********************************************************
  .sub-data-class {
    @media only screen and (min-width: $smallScreenWidth) {
      grid-column: 1 / 1;
      justify-self: start;
      padding-left: 10px;
    }
    @media only screen and (min-width: $largeScreenWidth) {
      justify-self: end;
      grid-column: 2 / -1;
    }
  }
}

.build-content-map {
  height: 300px;
  max-width: $smallScreenWidth;
  margin: 10px;
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: $smallScreenWidth) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    max-width: 100%;
  }
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}

.build-content-additional {
  display: grid;
  @media only screen and (min-width: $smallScreenWidth) {
    grid-column: 1 / 2;
  }
  @media only screen and (min-width: $largeScreenWidth) {
    grid-column: 1 / -1;
  }
}

.map-message {
  opacity: .5;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  @include red-border-button;
}